<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h2>Hi {{first_name}} ... !</h2>
      <h4>your booking payment for movie ticket has confirmed</h4>
      <p>here some your peyment detail :</p>
      <ul>
        <li>id booking : {{id_booking}}</li>
        <li>date booking : {{date_booking}}</li>
        <li>time booking : {{time_booking}}</li>
        <li>movie id : {{id_movie}}</li>
        <li>schedule id : {{id_schedule}}</li>
        <li>schedule id : {{total_ticket}}</li>
        <li>total ticket : {{total_ticket}}</li>
        <li>payment method : {{payment_method}}</li>
        <li>payment total : {{payment_total}}</li>
        <li>payment status : {{payment_status}}</li>
        <li>successfully paid on : {{transaction_time}}</li>
      </ul>
    </header>
  </body>
</html>