<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
    body {
      font-family: 'Poppins', sans-serif;
    }
    .activate-email {
      font-size: 28px;
      text-align: center;
    }
  </style>

  <title>Activate Email</title>
</head>

<body>
  <section class="activate-email">
    <h1>Congrats!, You success activate your email</h1>
    <h4>Login Now!</h4>
  </section>
</body>

</html>